<h2>Your Pragmatic Cart</h2>

<table>
  <%= render(cart.line_items) %>

  <% unless cart.line_items.empty? %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
  <% end %>
</table>

<% unless cart.line_items.empty? %>
  <%= button_to "Empty list", cart, method: :delete, remote: true %>
<% end %>

<% if cart.line_items.empty? %>
  <p>You have not added any product yet</p>
<% end %>